@import "mods/normalize.less";
@import "mods/variables.less";
@import "mods/mixins.less";

// Fonts
#font > .add(icon, normal);
#font > .add(OpenSans, light);
#font > .add(OpenSans, regular);
#font > .add(OpenSans, semibold);
#font > .add(OpenSans, bold);
#font > .add(OpenSans, extrabold);
#font > .add(OpenSansItalic, light);
#font > .add(OpenSansItalic, regular);
#font > .add(OpenSansItalic, semibold);
#font > .add(OpenSansItalic, bold);
#font > .add(OpenSansItalic, extrabold);

// Animations
//	Usage:
//	+ full: #animation > .use(<animation specs - e.g. bounce 0.25s ease-in-out infinite alternate>);
#animation > .add(bounce);

// Grid system
#grid > .create(@totalColumns, @pageWidth, @gutter);

@import "mods/type.less";
@import "mods/lists.less";
@import "mods/assets.less";
@import "mods/font-awesome.less";
@import "mods/states.less";


// notes:
// + wonder if it's possible to pack everything into mixins.less? aim being that you'd invoke funcs that generate the required rules (like how grids are made)


// Buttons

// Nav, Header, Footer

// Post ///////////////////////////////////////////////////////////////////////


// In Progress
.show {
	.col,
	.cols {
		margin-bottom: 10px;
		background:#eee;
		background:rgba(0,0,0,0.1);
		border: 1px solid rgba(0,0,0,0.1);

		.col,
		.cols {
			margin-bottom: 0;
			background: #ddd;
			background:rgba(0,0,0,0.1);
		}
	}
}
