// Type ///////////////////////////////////////////////////////////////////////
body {
    #font > .use(sans, normal, 62.5%); // 62.5% so 1em === 10px
}
h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizelegibility;
    margin: @gutter 0;
    color:@black;

    small {
        font-size: 0.5em;
    }
}
h1 {
    #font > .use(sans, bold, @baseFontSize * 4);
}
h2 {
    #font > .use(sans, bold, @baseFontSize * 3);
}
h3 {
    #font > .use(sans, bold, @baseFontSize * 2);
}
h4 {
    #font > .use(sans, bold, @baseFontSize);
}
p {
    #font > .use(condensed, regular);
    line-height: @baseLineHeight * 1.5;
}
a {
    #font > #weight > .use(bold);
    color: @link;
    text-decoration: none;
}
a:hover {
    color: @linkHover;
}
a:active {
    color: @linkActive;
}
