// Type ///////////////////////////////////////////////////////////////////////
html {
    #font > #size > .use(62.5%); // 62.5% so 1em === 10px
}
body {
    #font > .use(regular, regular, 1.4rem);
}
h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizelegibility;
    margin: @gutter 0;
    color:@black;

    small {
        font-size: 0.5em;
    }
}
h1 {
    #font > .use(sans, regular, @h1FontSize);
}
h2 {
    #font > .use(sans, regular, @h2FontSize);
}
h3 {
    #font > .use(sans, regular, @h3FontSize);
}
h4 {
    #font > .use(sans, regular, @h4FontSize);
}
h5 {
    #font > .use(sans, semibold, @h5FontSize);
}
h6 {
    #font > .use(regular, extrabold, @h6FontSize);
}
p {
    line-height: @baseLineHeight * 1.5;
}
a {
    #font > #weight > .use(semibold);
    color: @link;
    text-decoration: none;
}
a:hover {
    color: @linkHover;
}
a:active {
    color: @linkActive;
}
em {
    #font > #stack > .use(italic);
}
